/Coach.class
/CoachExigente.class
/Concurso.class
/Musica.class
/Participante.class
/Produccion.class
/Criterio.class
/CriterioIdioma.class
/CriterioGenero.class
/CriterioInstrumento.class
/CriterioAnd.class
/CriterioOr.class
/CriterioEdadMayor.class
/CriterioNot.class
/asdasd.class
