/ComparadorInstrumento.class
/ComparadorCantidadGeneros.class
/ComparadorCantidadInstrumento.class
/ComparadorEdad.class
/ComparadorCantidadIdiomas.class
/ComparadorInverso.class
/ComparadorCompuesto.class
